body{
    color: rgba(0, 140, 255, 0.952);
    background-color: rgb(20, 206, 160);
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px solid black;
    width: 350px;
    height: 300px;
}

.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(255, 255, 255);
    font-size: 20px;
}